
<%= form_tag("businesses/update", :method => 'post') do %>
      <div class="business_sign_up_fields">
        <div class="business_fields1">Business name</div>
        <%= text_field_tag :business_name %>
      </div>
      <div class="business_sign_up_fields">
        <div class="business_fields1">Business email address</div> 
        <%= text_field_tag :business_email %>
      </div>

      <div class="business_sign_up_fields">
        <div class="business_fields">Business web address</div>
        <%= text_field_tag :website %>
      </div>
      <div class="business_sign_up_fields">
        <div class="business_fields">Offer history </div>
        <%= text_field_tag :offer_history %>
      </div>
      <div class="business_sign_up_fields">
        <div class="business_fields">Invoices </div>
        <%= text_field_tag :invoices %>
      </div>
      <div class="business_sign_up_fields">
        <div class="business_fields">Account data </div>
        <%= text_field_tag :account_data %>
      </div>
      <div class="business_sign_up_button_page"><%= submit_tag "Update account", :class =>'create_account_btn' %></div>
    <% end %>
  
