<%= form_for @business, :validate => true do |f| %>
  
     <div class="field">
        <%= f.label :Business name %>
        <%= text_field :business_name %>
     </div>
      
     <div class="field">
        <%= f.label :Business email address %>
        <%= text_field :business_email %>
     </div>

     <div class="field">
        <%= f.label :Business web address %>
        <%= text_field_tag :website %>
     </div>

     <div class="field">
        <%= f.label :password %>
        <%= password_field_tag :password %>
     </div>
  
    <div class="field">
       <%= f.label :offers_history %>
       <%= f.text_field :offers_history %>
    </div>
    <div class="field">
       <%= f.label :invoices %>
       <%= f.text_field :invoices %>
    </div>
    <div class="field">
       <%= f.label :account_data %>
       <%= f.text_field :account_data %>
    </div>
    <div class="actions">
       <%= f.submit %>
    </div>
<% end %>
