<p id="notice"><%= notice %></p>

<p>
  <b>Business name:</b>
  <%= @business.business_name %>
</p>
<p>
  <%= @business.business_email %>
</p>
<p>
  <b>Website:</b>
  <%= @user.business.website %>
</p>
 
<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
