<section id="tribe_menu">
  <%= render 'layouts/browse_tribe_menu' %>
</section>  
<h1>All tribes</h1>

<table class="data_table" border="0" cellspacing="0" cellpadding="0" style="opacity:1;">
<thead>
<tr>
    <th style="width:170px; border-right:1px solid #000;">Product name</th>
    <th style="width:170px; border-right:1px solid #000;">Tribe name</th>
    <th style="width:150px; border-right:1px solid #000;">Category</th>
    <th style="width:120px; border-right:1px solid #000;">Location</th>
    <th style="width:120px; border-right:1px solid #000;">Members</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<% @tribes.each do |tribe| %><tr>
    <td>
      <% tribe.products.each do |each_product| %>
        <%= each_product['product_name'] %>
      <% end %>
    </td>
    <td><%= tribe.tribe_name %></td>
    <td><%= tribe.category %></td>
    <td><%= tribe.location %></td>
    <td>
      <% tribe.members.each do |each_member| %>    
        <%#= FbGraph::User.new(each_member['uid']).fetch.name %>
        <%#= image_tag(FbGraph::User.new(each_member['uid']).fetch.picture) %>
      <% end %>
    </td>        
    <% tribe.members.each do |each_member| %>    
      <% if  each_member['uid'] == current_user.uid && each_member['status'] == 'thinking' %>
        <td>
          <%= link_to "Accept the invitation", change_invitation_status_tribes_path(:id => tribe.id, :uid => each_member['uid']) %>
        </td>        
      <% end %>
    <% end %>
    <td><%= link_to 'Tribe activities', tribe_products_tribes_path(:id => tribe) %></td>    
  </tr>
<% end %>
</table>














