<p class="my_tribe">My Tribes</p>
<% @tribes.each do |tribe| %>
  <br />
  <div class="my_tribe_page">
    <table>
      <tr>
        <td class="my_tribe_name_dimension">
         <div class="my_tribe_name"><%= tribe.tribe_name %></div>
           <div class="my_tribe_f">
            
            <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            </div>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-501b5fca68dbce58"></script>
        </td>
           
        <td>
            <%=  link_to "Go to this tribe", tribe_products_tribes_path(:id => tribe), :class => 'global_button', :id => 'go_to_this_tribe' %>

        </td>
        <td>
          <% tribe.members.each do |each_member| %>
            <% if  each_member['uid'] == current_user.uid && each_member['status'] == 'thinking' %>                              
                <%= link_to "Accept invitation", change_invitation_status_tribes_path(:id => tribe.id, :uid => each_member['uid']), :class => 'global_button', :id => ' accept_invitation_button' %>
              <% elsif each_member['uid'] == current_user.uid && each_member['status'] == 'accepted' %>       
               <% if current_user.provider == 'facebook' %>
                  <%= stylesheet_link_tag('jquery.facebook.multifriend.select.css')%>
                  <%= javascript_include_tag('jquery.facebook.multifriend.select') %>
                  <%= form_tag invite_friend_tribes_path do -%>

                    <span>            
                      <input id = "<%= tribe.id %>za" type="button" value="INVITE PARTICIPANTS" class="<%= tribe.id %>zz"/>  
                      <%= text_field_tag :invitees, nil , :id => "invitees_id", :class=> "hidden" %>
                      <div id="jfmfs-container-wrapper" style="display: none">
                        <div id="jfmfs-container">
                        </div>
                      </div>
                    </span>
                      <% end %>
          
                  <script type="text/javascript" charset="utf-8">        
                  (function($j) { 
                    var selectorObz = {    
                      filter_default: "Search By Name",
                      friend_fields: "id,name,last_name&access_token="+'<%= current_user.facebook.access_token%>'
                    }

                    $j('.<%= tribe.id %>zz').live('click', function(){
                      $j( "#jfmfs-container-wrapper" ).dialog({
                        modal: true,
                        resizable: false,
                        closeText: "",
                        position: 'center',
                        title: 'Invite Participants',
                        width: '725px',
                        open: function(event, ui) { $j("#jfmfs-container").jfmfs(selectorObz); },
                        buttons: {                                             
                    Invite: function() {
                                  var friendSelector = $j("#jfmfs-container").data('jfmfs');
                                  var selectedFriends = friendSelector.getSelectedIds();
                                  $j('#invitees_id').val(selectedFriends);
                                  $j('form').submit();                                
                                  $j(this).dialog( "close" );
                                },
                          Cancel: function() {
                                  $j("#jfmfs-container").data('jfmfs').clearSelected(); 
                                  $j('#<%= tribe.id %>za').val("INVITE PARTICIPANTS");    
                                  $j(this).dialog( "close" );
                                }

                        }
                      });
                    })          
                  })(jQuery);                              
                  </script>
               <% end %>
            <% end %>
          <% end %>
        </td>
        <td>
          <section>
            <table class="tribe_dimension">
            <td>
              <div>
                <%= link_to (image_tag(FbGraph::User.new(tribe.created_by).fetch.picture, :class => 'created_user_image' )) %>
              </div>
            </td>
              <td>          
                <div class="tribe_created_text2">Tribe created by</div>
                <div class="tribe_created_user_name2"> <%= FbGraph::User.new(tribe.created_by).fetch.name %></div>       
              </td>
            </table>
          </section>
        </td>        
      </tr>
    </table>
  </div>
<% end %>


<div class="my_tribe_last"> 
  <p class="my_tribe_last_line">Can't see what you want? Click to <%= link_to "Create a tribe", new_tribe_path %></p>
</div>

