<h1>All tribes belogs to <%= current_user.fname %></h1>

<table>
  <tr>
    <th>Product name</th>
    <th>Tribe name</th>
    <th>Category</th>
    <th>Location</th>
    <th>Members</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tribes.each do |tribe| %>
  <tr>
    <td>
      <% tribe.products.each do |each_product| %>
        <%= each_product['product_name'] %>
      <% end %>
    </td>
    <td><%= tribe.tribe_name %></td>
    <td><%= tribe.category %></td>
    <td><%= tribe.location %></td>
    <td>
      <% tribe.members.each do |each_member| %>    
        <%#= FbGraph::User.new(each_member['uid']).fetch.name %>
        <%#= image_tag(FbGraph::User.new(each_member['uid']).fetch.picture) %>
      <% end %>
    </td>    
    <td>
    <% tribe.members.each do |each_member| %>    
      <% if  each_member['uid'] == current_user.uid && each_member['status'] == 'thinking' %>
        <td>
          <%= link_to "Accept the invitation", change_invitation_status_tribes_path(:id => tribe.id, :uid => each_member['uid']) %>
        </td>
      <% end %>  
      <% if each_member['uid'] == current_user.uid && each_member['status'] == 'accepted' %>  
        <td><%= link_to 'Tribe activities', tribe %></td>
      <% end %>
    <% end %>    
        
    <td><%= link_to 'Destroy', tribe, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>