<p>
<b>Tribe first product:</b>  
<% @tribe.products.each do |each_product| %>
  <%= each_product['product_name'] %>
<% end %>
</p>  
<p>
  <b>Tribe location:</b>
  <%= @tribe.location %>
</p>

<p>
  <b>Tribe name:</b>
  <%= @tribe.tribe_name %>
</p>

<p>
  <b>Tribe category:</b>
  <%= @tribe.category %>
</p>

<p>
  <b>Tribe members:</b>
    <% @tribe.members.each do |each_member| %>    
      <%= FbGraph::User.new(each_member['uid']).fetch.name %>
      <%= image_tag(FbGraph::User.new(each_member['uid']).fetch.picture) %>
    <% end %>
</p>

