<p>
<b>Tribe first product:</b>  
<% @tribe.product_attributes.each do |each_product| %>
  <%= each_product['product_name'] %>
<% end %>
</p>  
<p>
  <b>Tribe location:</b>
  <%= @tribe.location %>
</p>

<p>
  <b>Tribe name:</b>
  <%= @tribe.tribe_name %>
</p>

<p>
  <b>Tribe category:</b>
  <%= @tribe.category %>
</p>

<%= link_to 'Back', tribes_path %>
