<table class="tribe_header_box">
    <td id="tribe_name_menu">
        <div class="tribe_name_box"><%= @tribe.tribe_name %></div>
    </td>
    <td class="amount_saved_by_members">
      <div id="saved_amount">$4550.50</div><br />
      saved by members
    </td>
    <td class="add_friends_to_tribe">
      <div class="add_friends_box_field">
        64 members<br />
        <form class="add_friends_search">  	
            <input type="text" class="add_friends_box" placeholder="+ Add Friends to Group"/>
          </form>
      </div>
    </td>
    <td class="tribe_created_by_users">
        <section id="tribe_create">
          <table>
            <td>
              <%= link_to (image_tag(FbGraph::User.new(@tribe.created_by).fetch.picture, :class => 'created_user_image' )) %>
            </td>
            <td>          
              <div class="tribe_created_text">Tribe created by:</div>
              <div class="tribe_created_user_name"> <%= FbGraph::User.new(@tribe.created_by).fetch.name %></div>
              <div class="created_user_ratings">*****</div>
           </td>
         </table>
        </section>
    </td>
</table>

<div class="request_product_box">  
    <table>
      <td>
        <%= link_to image_tag("/assets/plus_icon.png", :class => 'plus_icon') %>
      </td>      
      <td>
      <div class="request_input_box_border">        
        <%= text_field_tag 'search', nil, :class => 'request_input_box', :placeholder => 'Serach product' %>
      </div>
      </td>                  
      <%= form_tag("/products", :method => "post") do %>
      <td>
       <%= image_submit_tag("/assets/request_product_icon.png", :class => 'request_product_icon') %>        
      </td>
      <td>      
        <%= hidden_field_tag :tribe, @tribe._id %>
        <%= text_field_tag 'product_name', nil, :class => 'request_input_box', :placeholder => 'Request new product' %>      
      </td>
      <% end %>
    </table>       
</div><br />

<% @tribe.products.each do |product| %>
  <div class="products_main_container">
      <div class="product_offers_time_box">
        <table>
          <td>
            <div>
              <span onclick="toggle_visibility('hiding');">Hide</span>
              <script type="text/javascript">
                  function toggle_visibility(id) {
                     var e = document.getElementById(id);
                     if(e.style.display == 'block')
                        e.style.display = 'none';
                     else
                        e.style.display = 'block';
                  }
              </script>
            </div>
          </td>
          <td>
            <div class="product_offers_small_box">
              <table style="margin-top:7px;">
                  <td style="width:200px;">
                    <span class="product_offers_box_text">Product</span><br/>
                    <span class="product_offers_box_text2"><%= product.product_name %></span>
                  </td>
                  <td style="width:80px; text-align:center;">
                    <span class="product_offers_box_text">Offers</span><br />
                    <span  class="product_offers_box_text3"><%= product.offers.count %></span>
                  </td>
              </table>
            </div>
          </td>
          <td>
            <div class="products_want_this_box">
              <% @ad = no_of_wants(params[:id], product.product_name, current_user.uid )  %>
              <%= @ad.size %> Wants this</br>    
              <%= link_to "I want this!", tribe_products_tribes_path(:id => params[:id], :product_name => product.product_name) %>
            </div>
          </td>
          <td>        
            <div class="products_contdown_time_box">              
                   <div id="counter-container">
                    <div class="counter-box">
                      <div class="counter"><span id="d" class="counter-p">#</span></div>
                      <span class="counter-box-p">days</span>
                    </div>
                    <div class="counter-box">
                      <div class="counter"><span id="h" class="counter-p">#</span></div>
                      <span class="counter-box-p">hours</span>
                    </div>
                    <!-- <div class="counter-box">
                      <div class="counter"><span id="m" class="counter-p">#</span></div>
                      <span class="counter-box-p">minutes</span>
                    </div>
                    <div class="counter-box">
                      <div class="counter"><span id="s" class="counter-p">#</span></div>
                      <span class="counter-box-p">seconds</span>
                    </div> -->
                  </div>               
                 <script>
                   function counter(futureDate) {
                        var today = new Date(2012,7,24); // today
                        count = Math.floor((futureDate-today)/1000);
                        countdown = setInterval(function(){
                          var temp;
                          $("span#d").html(Math.floor(count/(60*60*24)));
                          temp = count%(60*60*24);
                          $("span#h").html(Math.floor(temp/(60*60)));
                          temp = count%(60*60);
                          $("span#m").html(Math.floor(temp/(60)));
                          temp = count%(60);
                          $("span#s").html(temp);
                          if (count === 0) {
                               alert("time's up");
                               clearInterval(countdown);       
                          }
                          count--;
                        }, 1000);
                      }
                      counter(new Date(2012,8,26)); // May 8, 2012 00:00:00
                      /* counter(new Date(2012,4,8,15,49,10)); // May 8, 2012 15:49:00 */
              </script>
            </div>
            
          </td>
        </table>
      </div>
      <div  id="hiding">
      <div class="products_sub_container">
        <div class="products_description_box">
           <%= product.description %>
        </div>
        <div class="description_dotted_line"></div>
        <div class="products_offers_received_text">
          Offers Received
        </div>
        <div>
          <table class="data_table" cellpadding="0" cellspacing="0" border="0" style="opacity:1;">
            <thead>
              <tr>
                <th style="width:220px; border-right:1px solid #000;">company</th>
                <th style="width:250px; border-right:1px solid #000;">product</th>
                <th style="width:100px; border-right:1px solid #000;">price</th>
                <th style="width:100px; border-right:1px solid #000;">time of bid</th>
                <th style="width:200px;">min #</th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align:center;">
                <td><%= product.business_name %></td>
                <td><%= product.product_name %></td>
                <td><%= product.price %></td>
                <td>time</td>
                <% product.offers.each do |each_offer| %>
                 <td> <%= each_offer['min_no_of_buyer'] %> </td>
                <% end %>
              </tr>
            </tbody>
          </table>             
        </div>
       </div>
      <div class="products_comments_box" id="hiding2">
      comments
      </div>
      </div>
    </div><br />
<% end %>

<!--    
<script type="text/javascript">
  $('#i_want_this').click(function() {    
    // force cross-site scripting (as of jQuery 1.5)
    jQuery.support.cors = true;
    console.log($(this).val());
    $.get('/tribes/i_want_this',
    {tribe_id:'<%#= params[:id] %>', product: 'aaa'},
      function(data) {

      }, 'script'
    );
  });
</script>    
-->