<%= form_for(@product) do |f| %>
 
  <% @product.product_groups.each_with_index do |product_group, index| %>      
  <%= f.fields_for "product_groups[]", product_group do |product_groups| %>   
    <div class="field">
      <%= product_groups.label :zipcode %>
      <%= product_groups.text_field :zipcode %>
    </div>
  <% end %> 
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

