<h1>Listing products</h1>
<br/>
<table>
  <tr>
    <th>Business name</th>
    <th>Members</th>
    <th>Product name</th>
    <th>Description</th>
    <th>Product url</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.business_name %></td>
    <td><%= product.members %></td>
    <td><%= product.product_name %></td>
    <td><%= product.description %></td>
    <td><%= product.product_url %></td>
    <td><%= product.price %></td>
    
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />



<%= link_to 'New Product', new_product_path %><br />

<div>
<td>Comments</td>
<div>
      <%= render :partial => 'comment'%>
    </div>
 
  
