
<div class="easy_steps">
    <div class="easy_steps_heading">How it works-4 easy steps</div>
    <div class="first_step">
        <div class="first_img"><%= link_to image_tag("/assets/first_step.png") %></div>
        <p class="first_img_text">1.Join a solar buying group in your area</p>
    </div>
    <div class="second_step">
        <div class="second_img"><%= link_to image_tag("/assets/second_step.png") %></div>
        <p class="second_img_text">2.Invite others to increase your buying power</p>
    </div>
    <div class="third_step">
        <div class="third_img"><%= link_to image_tag("/assets/third_step.png") %></div>
        <p class="third_img_text">3.Receive discounted group offer.</p>
    </div>
    <div class="fourth_step">
        <div class="fourth_img"><%= link_to image_tag("/assets/fourth_step.png") %></div>
        <p class="fourth_img_text">4.Compare, choose an offer and save</p>
    </div>
</div>













   <div class="footer_box"></div>
<div class="footer_container">
 <div class="footer_inner_container">
   <div class="About_link_footer">About
     
          <div class="about_footer_page"><%= link_to "About us", '#' %></div>
          <div class="about_footer_page"><%= link_to "privacy"%></div>
          <div class="about_footer_page"><%= link_to "Terms and conditions"%> </div>
   </div>
    <div class="for_solar_retailers">
        <div class="text_for_solar_retailers">For solar retailers</div>
        <div class="link_making_offers"><%= link_to "Making offers to group", "#"%></div>
    </div>
    <div class="get_in_touch_container">
        <div class="get_in_touch_text">Get in touch</div>
        <div class="contact_us_link"><%= link_to "Contact us", "#" %></div>
    </div>
    <div class="solar_img">
      <%=  image_tag("/assets/solar_logo.png") %>
    </div>
      <div class="offerus_solar_title"><%= image_tag("/assets/offerussolar.png") %></div>
 </div>

  <div class="footer_last">
    <div class="copy_right_link">Copyright 2012 Michael Dawson Enterpise Pvt Ltd</div>
  </div>





<h1>2 nd footer</h1>
 <div class="footer_inner_2container">
  
  <div class="About_link_2footer">About
     
          <div class="about_2footer_page"><%= link_to "About us", '#' %></div>
          <div class="about_2footer_page"><%= link_to "privacy"%></div>
          <div class="about_2footer_page"><%= link_to "Terms and conditions"%> </div>
  </div>
    <div class="for_business">
        <div class="text_for_business">For businesses</div>
        <div class="link_tribes_offers"><%= link_to "Making offers to tribes", "#"%></div>
    </div>
    <div class="get_in_touch_2container">
        <div class="get_in_touch_2text">Get in touch</div>
        <div class="contact_us_2link"><%= link_to "Contact us", "#" %></div>
    </div>
    <div class="offer_us_img">
      <%=  image_tag("/assets/offer_us.png") %>
    </div>
      
 </div>

  <div class="footer_2last">
    <div class="copy_right_2link">Copyright 2012 Michael Dawson Enterpise Pvt Ltd</div>
  </div>
</div>
